<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.12.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="77.0.3865.4000" targetFramework="net472" />
  <package id="Selenium.WebDriver.PhantomJS" version="1.0.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net472" />
</packages>